
RewriteEngine On
DirectoryIndex index.php index.html

RewriteRule ^(.*)/(.*)/$ $1.php?text=$2 [QSA,L]
RewriteRule ^(.*)/$ $1.php?text=$2 [QSA,L]


#RewriteCond %{REQUEST_FILENAME} -d [OR]
#RewriteCond %{REQUEST_FILENAME} -f [OR]
#RewriteCond %{REQUEST_FILENAME} -l
#RewriteRule ^(.*)$ - [NC,L]
#RewriteRule ^(.*)$ index.php?$1 [QSA,L]
